<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}

    <hr/>
    <p>
      <a rel='license' href='http://creativecommons.org/licenses/by-sa/3.0/'><img alt='Creative Commons License' style='border-width:0' src='files/images/sa_3_88x31.png' /></a> 
      <a href='http://validator.w3.org/check?uri=referer'><img src='files/images/valid-html40-blue.png' style='border:0;width:88px;height:31px' alt='Valid HTML 4.0 Transitional'></a> 
      <a href='http://jigsaw.w3.org/css-validator/check/referer'> <img style='border:0;width:88px;height:31px' src='files/images/vcss-blue.gif' alt='Valid CSS!' /></a> 
      <a href='http://www.anybrowser.org/campaign/'><img src='files/images/bvbrows.gif' alt='Best Viewed in Any Browser!' height='31' width='88'/></a> 
      <a href='http://nocleanfeed.com'><img style='border:0;width:180px;height:20px' src='files/images/nocensorship-skinny.gif' alt='No Clean Feed - Stop Internet Censorship in Australia' /></a> 
      <br/> 
      <em>Except where stated, all content on this site is licensed under a <a rel='license' href='http://creativecommons.org/licenses/by-sa/3.0/'>Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</em>
    </p>

  </body>
</html>
